div.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://source.unsplash.com/weekly?notebook, codes");
  background-size: cover;
  background-position: center;

  section {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;

    &.InputSection {
      // background-color: aquamarine;
      flex: 1.75;
    }
    &.To-Do-Section {
      // border: 1px solid violet;
      margin: 1rem 0;
      flex: 8.25;
      // background-color: blueviolet;
      overflow: hidden;
      &:hover {
        overflow-y: auto;
      }
      &::-webkit-scrollbar {
        width: 5px;
        display: none;
      }
      &::-webkit-scrollbar-track {
        background-color: rgb(231, 231, 231);
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
        background-color: rgb(189, 188, 188);
        border-radius: 50px;
      }
    }
  }
}
